@charset "utf-8";
/* CSS Document */

#social-wrap {

}

#social-wrap .item h3{
	margin:0px;
	
}
#social-wrap ul{
	list-style-type: none;
	margin-left:15px;
}


#social-wrap .item p{
	margin:0px;
	
}


#social-wrap .item {
	margin-bottom:5px;
	
}

#social-wrap .text-stuff{
	
}

#social-wrap ul .item img{
	float:left;
	margin:5px 10px;
}